
@{
    ViewData["Title"] = "Index";
}


    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                    جداول Foo
                    <small class="text-muted">به قطب نما خوش آمدید</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-left">
                    <li class="breadcrumb-item float-right"><a href="index.html"><i class="zmdi zmdi-home"></i> قطب نما</a></li>
                    <li class="breadcrumb-item float-right"><a href="javascript:void(0);"> جداول </a></li>
                    <li class="breadcrumb-item active float-right">جداول Foo</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>جداول <strong>Foo</strong></h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">عملیات</a></li>
                                    <li><a href="javascript:void(0);">عملیات دیگر</a></li>
                                    <li><a href="javascript:void(0);">یک چیز دیگر</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-striped m-b-0 footable footable-1 footable-paging footable-paging-center breakpoint-sm" style="">
                            <thead>
                                <tr class="footable-header">





                                    <th class="footable-sortable footable-first-visible" style="display: table-cell;">نام و نام خانوادگی <span class="fooicon fooicon-sort"></span></th>
                                    <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">عنوان شغلی<span class="fooicon fooicon-sort"></span></th>
                                    <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">شهر<span class="fooicon fooicon-sort"></span></th>
                                    <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">سن<span class="fooicon fooicon-sort"></span></th>
                                    <th class="footable-sortable footable-last-visible" style="display: table-cell;">وضعیت<span class="fooicon fooicon-sort"></span></th>
                                </tr>
                            </thead>
                            <tbody>



















                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">سپهر علی محمدی</td>
                                    <td style="display: table-cell;"> معمار سیستم </td>
                                    <td style="display: table-cell;">قم</td>
                                    <td style="display: table-cell;">61</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-danger"> معلق </span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">سمیرا نهادی</td>
                                    <td style="display: table-cell;"> حسابدار </td>
                                    <td style="display: table-cell;">ساری</td>
                                    <td style="display: table-cell;">63</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-danger"> فعال </span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">فرحان نظری</td>
                                    <td style="display: table-cell;">نویسنده</td>
                                    <td style="display: table-cell;">تهران</td>
                                    <td style="display: table-cell;">66</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-default">غیر فعال</span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;"> سام فهد </td>
                                    <td style="display: table-cell;"> بریل </td>
                                    <td style="display: table-cell;">قم</td>
                                    <td style="display: table-cell;">22</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-success"> فعال </span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">آریا عظیمی</td>
                                    <td style="display: table-cell;"> حسابدار </td>
                                    <td style="display: table-cell;">ساری</td>
                                    <td style="display: table-cell;">33</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-success"> فعال </span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;"> بریل </td>
                                    <td style="display: table-cell;"> متخصص </td>
                                    <td style="display: table-cell;">اراک</td>
                                    <td style="display: table-cell;">61</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-default">غیر فعال</span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">کاظم محبوبی</td>
                                    <td style="display: table-cell;"> دستیار فروش </td>
                                    <td style="display: table-cell;">تهران</td>
                                    <td style="display: table-cell;">59</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-danger">معلق</span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">رضا قادری</td>
                                    <td style="display: table-cell;"> متخصص </td>
                                    <td style="display: table-cell;">ساری</td>
                                    <td style="display: table-cell;">55</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-success"> فعال </span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">کامران نجفی</td>
                                    <td style="display: table-cell;">توسعه دهنده جاوا اسکریپت</td>
                                    <td style="display: table-cell;">تهران</td>
                                    <td style="display: table-cell;">39</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-default">غیر فعال</span>
                                    </td>
                                </tr>
                                <tr>





                                    <td class="footable-first-visible" style="display: table-cell;">سونیا نجفی</td>
                                    <td style="display: table-cell;">نرم افزار</td>
                                    <td style="display: table-cell;">قم</td>
                                    <td style="display: table-cell;">23</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-danger">معلق</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot><tr class="footable-paging"><td colspan="5"><ul class="pagination"><li class="footable-page-nav disabled" data-page="first"><a class="footable-page-link" href="#">«</a></li><li class="footable-page-nav disabled" data-page="prev"><a class="footable-page-link" href="#">‹</a></li><li class="footable-page visible active" data-page="1"><a class="footable-page-link" href="#">1</a></li><li class="footable-page visible" data-page="2"><a class="footable-page-link" href="#">2</a></li><li class="footable-page-nav" data-page="next"><a class="footable-page-link" href="#">›</a></li><li class="footable-page-nav" data-page="last"><a class="footable-page-link" href="#">»</a></li></ul><div class="divider"></div><span class="label label-default">1 از 2</span></td></tr></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

