<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jul 2019 10:22:38 GMT -->
<head>
   <partial name="_MetaTags"></partial>
    <title>نرم افزار CRM - @ViewData["Title"]</title>

   <partial name="_headerRefrences" />
</head>
<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="قطب نما"></div>
            <p>لطفا صبر کنید ...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <partial name="_TopBar" />

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        <div class="image"><a href="profile.html"><img src="assets/images/profile_av.jpg" alt="کاربر"></a></div>
                        <div class="detail">
                            <h4>حمید مجیدی</h4>
                            <small> طراح UI UX </small>
                        </div>
                        <a href="events.html" title="رویدادها"><i class="zmdi zmdi-calendar"></i></a>
                        <a href="mail-inbox.html" title="صندوق ورودی"><i class="zmdi zmdi-email"></i></a>
                        <a href="contact.html" title="لیست مخاطبین"><i class="zmdi zmdi-account-box-phone"></i></a>
                        <a href="chat.html" title="برنامه چت"><i class="zmdi zmdi-comments"></i></a>
                        <a href="sign-in.html" title="خروج از سیستم"><i class="zmdi zmdi-power"></i></a>
                    </div>
                </li>
                <li class="header">اصلی</li>
                <li class="active open">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-home"></i><span>داشبورد</span></a>
                    <ul class="ml-menu">
                        <li class="active"><a href="index.html">اصلی</a> </li>
                        <li><a href="dashboard-rtl.html"> راست به چپ </a></li>
                        <li><a href="index2.html"> افقی </a></li>
                        <li><a href="ec-dashboard.html"> تجارت الکترونیک </a></li>
                        <li><a href="blog-dashboard.html">وبلاگ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>برنامه</span> </a>
                    <ul class="ml-menu">
                        <li><a href="mail-inbox.html"> صندوق ورودی </a></li>
                        <li><a href="chat.html">چت</a></li>
                        <li><a href="events.html">تقویم</a></li>
                        <li><a href="file-dashboard.html">مدیر فایل</a></li>
                        <li><a href="contact.html">لیست مخاطبین</a></li>
                        <li><a href="blog-dashboard.html">وبلاگ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-swap-alt"></i><span>رابط کاربری (UI )</span> </a>
                    <ul class="ml-menu">
                        <li> <a href="ui_kit.html">کیت رابط کاربری (UI KIT)</a> </li>
                        <li> <a href="alerts.html">هشدارها (Alerts)</a> </li>
                        <li> <a href="collapse.html">کلپس (Collapse)</a> </li>
                        <li> <a href="colors.html">رنگها (Colors)</a> </li>
                        <li> <a href="dialogs.html">دیالوگ ها (Dialogs)</a> </li>
                        <li> <a href="icons.html">آیکون ها (Icons)</a> </li>
                        <li> <a href="list-group.html">گروه لیست (List Group)</a> </li>
                        <li> <a href="media-object.html">شی رسانه ای (Media Object)</a> </li>
                        <li> <a href="modals.html">مدالها (Modals)</a> </li>
                        <li> <a href="notifications.html">اعلان ها (Notifications)</a></li>
                        <li> <a href="progressbars.html">نوارهای پیشرفت (Progress Bars)</a></li>
                        <li> <a href="range-sliders.html">محدوده های کشویی (Range Sliders)</a></li>
                        <li> <a href="sortable-nestable.html">قابل مرتب سازی و قابل جابجایی (Sortable & Nestable)</a></li>
                        <li> <a href="tabs.html">برگه ها (Tabs)</a></li>
                        <li> <a href="waves.html">امواج (Waves)</a></li>
                    </ul>
                </li>
                <li class="header">فرم ها ، نمودارها ، جداول</li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>فرم ها</span> </a>
                    <ul class="ml-menu">
                        <li><a href="basic-form-elements.html"> عناصر فرم اصلی </a> </li>
                        <li><a href="advanced-form-elements.html"> عناصر فرم پیشرفته </a> </li>
                        <li><a href="form-examples.html">نمونه فرم</a> </li>
                        <li><a href="form-validation.html">اعتبار سنجی فرم </a> </li>
                        <li><a href="form-wizard.html">فرم ویزارد</a> </li>
                        <li><a href="form-editors.html">ویرایشگر ها</a> </li>
                        <li><a href="form-upload.html"> بارگذاری پرونده  </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span> جداول </span> </a>
                    <ul class="ml-menu">
                        <li> <a href="normal-tables.html"> جداول عادی </a> </li>
                        <li> <a href="jquery-datatable.html">جداول داده Jquery </a> </li>
                        <li> <a href="editable-table.html">جداول قابل ویرایش</a> </li>
                        <li> <a href="footable.html">جداول Foo</a> </li>
                        <li> <a href="table-color.html"> جداول رنگ</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span> نمودارها </span> </a>
                    <ul class="ml-menu">
                        <li> <a href="morris.html">Morris</a> </li>
                        <li> <a href="flot.html">نمودار Flot</a> </li>
                        <li> <a href="chartjs.html">نمودار جاوااسکریپت</a> </li>
                        <li> <a href="sparkline.html">Sparkline</a> </li>
                        <li> <a href="jquery-knob.html">Jquery Knob</a> </li>
                    </ul>
                </li>
                <li class="header">اجزای اضافی</li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shopping-cart"></i><span> تجارت الکترونیک </span> </a>
                    <ul class="ml-menu">
                        <li> <a href="ec-dashboard.html">داشبورد</a></li>
                        <li> <a href="ec-product.html">محصول</a></li>
                        <li> <a href="ec-product-List.html"> لیست محصولات </a></li>
                        <li> <a href="ec-product-detail.html"> جزئیات محصول </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-delicious"></i><span>ابزارک ها</span> </a>
                    <ul class="ml-menu">
                        <li><a href="widgets-app.html"> ابزارک برنامه </a></li>
                        <li><a href="widgets-data.html"> ابزارک داده </a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-lock"></i><span> احراز هویت </span> </a>
                    <ul class="ml-menu">
                        <li><a href="sign-in.html">ورود</a> </li>
                        <li><a href="sign-up.html">ثبت نام</a> </li>
                        <li><a href="forgot-password.html">فراموشی رمز عبور</a> </li>
                        <li><a href="404.html">صفحه 404</a> </li>
                        <li><a href="500.html">صفحه 500</a> </li>
                        <li><a href="page-offline.html">صفحه آفلاین</a> </li>
                        <li><a href="locked.html">صفحه قفل شده</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-copy"></i><span>صفحات نمونه</span> </a>
                    <ul class="ml-menu">
                        <li><a href="blank.html">صفحه خالی</a> </li>
                        <li> <a href="image-gallery.html">گالری تصاویر</a> </li>
                        <li><a href="profile.html">پروفایل</a></li>
                        <li><a href="timeline.html">جدول زمانی</a></li>
                        <li><a href="pricing.html">قیمت گذاری</a></li>
                        <li><a href="invoices.html">فاکتورها</a></li>
                        <li><a href="search-results.html">نتایج جستجو</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-map"></i><span> نقشه ها </span> </a>
                    <ul class="ml-menu">
                        <li> <a href="google.html">نقشه Google </a> </li>
                        <li> <a href="yandex.html">نقشه Yandex</a> </li>
                        <li> <a href="jvectormap.html">نقشه jVector</a> </li>
                    </ul>
                </li>
                <li class="header">بیشتر</li>
                <li>
                    <div class="progress-container progress-primary m-t-10">
                        <span class="progress-badge">ترافیک این ماه</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                                <span class="progress-value">67%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-container progress-info">
                        <span class="progress-badge">بار سرور</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                <span class="progress-value">86%</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i class="zmdi zmdi-comments"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#activity">فعالیت</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active slideRight" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>پوسته</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple">
                                <div class="purple"></div>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                            </li>
                            <li data-theme="cyan" class="active">
                                <div class="cyan"></div>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                            </li>
                            <li data-theme="blush">
                                <div class="blush"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6> منوی سمت چپ </h6>
                        <ul class="list-unstyled theme-light-dark">
                            <li>
                                <div class="t-light btn btn-default btn-simple btn-round">روشن</div>
                            </li>
                            <li>
                                <div class="t-dark btn btn-default btn-round">تاریک</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6>تنظیمات عمومی</h6>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">گزارش استفاده از پانل</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox2" type="checkbox" checked="">
                                    <label for="checkbox2">تغییر مسیر ایمیل</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox3" type="checkbox" checked="">
                                    <label for="checkbox3">اعلان ها</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox4" type="checkbox" checked="">
                                    <label for="checkbox4">به روز رسانی خودکار</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6>تنظیمات حساب</h6>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox5" type="checkbox" checked="">
                                    <label for="checkbox5">آفلاین</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox6" type="checkbox" checked="">
                                    <label for="checkbox6">مجوز موقعیت مکانی</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane right_chat pullUp" id="chat">
                <div class="slim_scroll">
                    <div class="card">
                        <div class="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="جستجو...">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h6>اخیر</h6>
                        <ul class="list-unstyled">
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">س ناصر</span>
                                            <span class="message">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">س غلامی</span>
                                            <span class="message">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">ا احمدی</span>
                                            <span class="message">با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="me">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">ث قاسمی</span>
                                            <span class="message">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">ف رحمتی</span>
                                            <span class="message">ریچارد مک کلینتوک ، استاد لاتین</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6> مخاطبین </h6>
                        <ul class="list-unstyled">
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar10.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar6.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar7.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar8.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar9.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar5.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar4.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar2.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline inlineblock">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="assets/images/xs/avatar1.jpg" alt="">
                                        <div class="media-body">
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane slideRight" id="activity">
                <div class="slim_scroll">
                    <div class="card">
                        <h6> فعالیتهای  اخیر </h6>
                        <ul class="list-unstyled activity">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="zmdi zmdi-cake bg-blue"></i>
                                    <div class="info">
                                        <h4> تولد مدیر </h4>
                                        <small>21 آبان خواهد بود </small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="zmdi zmdi-file-text bg-red"></i>
                                    <div class="info">
                                        <h4> تغییر کد </h4>
                                        <small>22 آبان خواهد بود </small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="zmdi zmdi-account-box-phone bg-green"></i>
                                    <div class="info">
                                        <h4> مخاطب جدید اضافه کنید </h4>
                                        <small>23 آذر خواهد بود </small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="zmdi zmdi-email bg-amber"></i>
                                    <div class="info">
                                        <h4>ایمیل جدید</h4>
                                        <small>28 دی خواهد بود </small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6> وضعیت پروژه </h6>
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">وب سایت تجارت الکترونیک</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                    <span class="progress-value">86%</span>
                                </div>
                            </div>
                            <ul class="list-unstyled team-info">
                                <li class="m-l-15"><small>تیم</small></li>
                                <li>
                                    <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar4.jpg" alt="آواتار">
                                </li>
                            </ul>
                        </div>
                        <div class="progress-container">
                            <span class="progress-badge">توسعه بازی ios </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                    <span class="progress-value">45%</span>
                                </div>
                            </div>
                            <ul class="list-unstyled team-info">
                                <li class="m-l-15"><small>تیم</small></li>
                                <li>
                                    <img src="assets/images/xs/avatar10.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar9.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar8.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar7.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                                </li>
                            </ul>
                        </div>
                        <div class="progress-container progress-warning">
                            <span class="progress-badge">توسعه خانگی</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="width: 29%;">
                                    <span class="progress-value">29%</span>
                                </div>
                            </div>
                            <ul class="list-unstyled team-info">
                                <li class="m-l-15"><small>تیم</small></li>
                                <li>
                                    <img src="assets/images/xs/avatar5.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar7.jpg" alt="آواتار">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Chat-launcher -->
    <div class="chat-launcher"></div>
    <div class="chat-wrapper">
        <div class="card">
            <div class="header">
                <ul class="list-unstyled team-info margin-0">
                    <li class="m-l-15"><h2>تیم طراحی </h2></li>
                    <li>
                        <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar4.jpg" alt="آواتار">
                    </li>
                    <li>
                        <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="اضافه کردن عضو"><i class="zmdi zmdi-plus-circle"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="chat-widget">
                    <ul class="chat-scroll-list clearfix">
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt="">
                            <div class="chat-info">
                                <a class="name" href="#">سروش پویانفر</a>
                                <span class="datetime">6:12</span>
                                <span class="message">سلام عباس جان </span>
                            </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:15</span> <span class="message">سلام سروش جان <br>چطوری ؟</span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">6:16</span> <span class="message">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</span> </div>
                        </li>
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="#">سارا رفیعی</a> <span class="datetime">6:25</span> <span class="message">سروش جان <br>  عباس جان سلام <br> امروز چه کاری را باید انجام بدهیم ؟</span> </div>
                        </li>
                        <li class="left float-left">
                            <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                            <div class="chat-info"> <a class="name" href="#">وحید محمدی</a> <span class="datetime">6:28</span> <span class="message">من دوست دارم به تیم بپیوندم. </span> </div>
                        </li>
                        <li class="right">
                            <div class="chat-info"><span class="datetime">7:02</span> <span class="message">سلام  <br>وحید جان</span> </div>
                        </li>
                    </ul>
                </div>
                <div class="input-group p-t-15">
                    <input type="text" class="form-control" placeholder="متن را اینجا وارد کنید ...">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-mail-send"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <section class="content home">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>
                        داشبورد
                        <small class="text-muted">به قطب نما خوش آمدید</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-left m-r-10" type="button">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                    <ul class="breadcrumb float-md-left">
                        <li class="breadcrumb-item float-right"><a href="index.html"><i class="zmdi zmdi-home"></i> قطب نما</a></li>
                        <li class="breadcrumb-item active float-right">داشبورد 1</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card widget_2">
                <ul class="row clearfix list-unstyled m-b-0">
                    <li class="col-lg-3 col-md-6 col-sm-12">
                        <div class="body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="m-t-0">ترافیک</h5>
                                    <p class="text-small">4% بیشتر از ماه گذشته </p>
                                </div>
                                <div class="col-5 text-left">
                                    <h2 class="">20</h2>
                                    <small class="info">از 1TB </small>
                                </div>
                                <div class="col-12">
                                    <div class="progress m-t-20">
                                        <div class="progress-bar l-amber" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-3 col-md-6 col-sm-12">
                        <div class="body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="m-t-0">فروش</h5>
                                    <p class="text-small">6%  بیشتر از ماه گذشته </p>
                                </div>
                                <div class="col-5 text-left">
                                    <h2 class="">12%</h2>
                                    <small class="info">از 100</small>
                                </div>
                                <div class="col-12">
                                    <div class="progress m-t-20">
                                        <div class="progress-bar l-blue" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-3 col-md-6 col-sm-12">
                        <div class="body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="m-t-0">ایمیل</h5>
                                    <p class="text-small"> کل ایمیل ثبت شده </p>
                                </div>
                                <div class="col-5 text-left">
                                    <h2 class="">39</h2>
                                    <small class="info">از 100</small>
                                </div>
                                <div class="col-12">
                                    <div class="progress m-t-20">
                                        <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width: 39%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-3 col-md-6 col-sm-12">
                        <div class="body">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="m-t-0">دامنه ها</h5>
                                    <p class="text-small">کل دامنه های ثبت شده</p>
                                </div>
                                <div class="col-5 text-left">
                                    <h2 class="">8</h2>
                                    <small class="info">از 10 </small>
                                </div>
                                <div class="col-12">
                                    <div class="progress m-t-20">
                                        <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>گزارش<strong> فروش </strong></h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                        <li><a href="javascript:void(0);">ویرایش</a></li>
                                        <li><a href="javascript:void(0);">حذف</a></li>
                                        <li><a href="javascript:void(0);">گزارش</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row text-center">
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">106 تومان<i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted">فروش امروز</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">907 تومان<i class="zmdi zmdi-trending-down col-red"></i></h4>
                                    <p class="text-muted">فروش این هفته</p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">4210 تومان<i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted">فروش این ماه </p>
                                </div>
                                <div class="col-sm-3 col-6">
                                    <h4 class="m-t-0">67000 تومان<i class="zmdi zmdi-trending-up col-green"></i></h4>
                                    <p class="text-muted">فروش امسال </p>
                                </div>
                            </div>
                            <div id="area_chart" class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="card tasks_report">
                        <div class="body">
                            <input type="text" class="knob dial1" value="66" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#666" readonly>
                            <h6 class="m-t-20">میزان رضایتمندی</h6>
                            <p class="displayblock m-b-0">میانگین  47%<i class="zmdi zmdi-trending-up"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="card tasks_report">
                        <div class="body">
                            <input type="text" class="knob dial2" value="26" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#7b69ec" readonly>
                            <h6 class="m-t-20">پروژه های در انتظار</h6>
                            <p class="displayblock m-b-0">میانگین 13% <i class="zmdi zmdi-trending-down"></i></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="card tasks_report">
                        <div class="body">
                            <input type="text" class="knob dial3" value="76" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#f9bd53" readonly>
                            <h6 class="m-t-20">هدف بهره وری</h6>
                            <p class="displayblock m-b-0">میانگین 75% <i class="zmdi zmdi-trending-up"></i></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                    <div class="card tasks_report">
                        <div class="body">
                            <input type="text" class="knob dial4" value="88" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#00adef" readonly>
                            <h6 class="m-t-20">درآمد کل</h6>
                            <p class="displayblock m-b-0">میانگین 54%  <i class="zmdi zmdi-trending-up"></i></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-lg-8">
                    <div class="card visitors-map">
                        <div class="header">
                            <h2><strong>آمار  </strong> بازدید کنندگان</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="javascript:void(0);">عملیات</a></li>
                                        <li><a href="javascript:void(0);">عملیات دیگر</a></li>
                                        <li><a href="javascript:void(0);">یک چیز دیگر</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="world-map-markers" class="jvector-map m-b-5"></div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از آمریکا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-turquoise" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از کانادا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-coral" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از آسیا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-blue" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از آمریکا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-salmon" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از کانادا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="progress-container m-b-20">
                                        <span class="progress-badge"> بازدید کننده از آسیا </span>
                                        <div class="progress">
                                            <div class="progress-bar l-amber" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                                                <span class="progress-value">86%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>استفاده از </strong> مرورگر</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">عملیات</a></li>
                                        <li><a href="javascript:void(0);">عملیات دیگر</a></li>
                                        <li><a href="javascript:void(0);">یک چیز دیگر</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="donut_chart" class="dashboard-donut-chart"></div>
                            <table class="table m-t-15 m-b-0">
                                <tbody>
                                    <tr>
                                        <td>Chrome</td>
                                        <td>6985</td>
                                        <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>سایر</td>
                                        <td>2697</td>
                                        <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Safari</td>
                                        <td>3597</td>
                                        <td><i class="zmdi zmdi-caret-down text-danger"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Firefox</td>
                                        <td>2145</td>
                                        <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Opera</td>
                                        <td>1854</td>
                                        <td><i class="zmdi zmdi-caret-down text-danger"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="header">
                            <h2>لیست <strong>محصولات</strong></h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">عملیات</a></li>
                                        <li><a href="javascript:void(0);">عملیات دیگر</a></li>
                                        <li><a href="javascript:void(0);">یک چیز دیگر</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;">مورد</th>
                                            <th></th>
                                            <th>نام</th>
                                            <th class="hidden-md-down">تیم</th>
                                            <th class="hidden-md-down" width="150px">وضعیت</th>
                                            <th> اولویت </th>
                                            <th>تاریخ انقضا</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img class="rounded avatar" src="assets/images/xs/avatar1.jpg" alt="">
                                            </td>
                                            <td>
                                                <a class="single-user-name" href="#">رضا شفیعی</a><br>
                                                <small>مدیر پروژه </small>
                                            </td>
                                            <td>
                                                <strong>وب سایت تجاری</strong><br>
                                                <small>قیمت : 215 هزار تومان </small>
                                            </td>
                                            <td class="hidden-md-down">
                                                <ul class="list-unstyled team-info margin-0">
                                                    <li>
                                                        <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar4.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="hidden-md-down">
                                                <div class="progress">
                                                    <div class="progress-bar l-blue" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-info"> متوسط</span></td>
                                            <td>25 مهر 1398 </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded avatar" src="assets/images/xs/avatar2.jpg" alt="">
                                            </td>
                                            <td>
                                                <a class="single-user-name" href="#">سارا خانعلی</a><br>
                                                <small>مدیر طراحی</small>
                                            </td>
                                            <td>
                                                <strong>قالب سایت تک صفحه ای</strong><br>
                                                <small>قیمت : 100 هزار تومان </small>
                                            </td>
                                            <td class="hidden-md-down">
                                                <ul class="list-unstyled team-info margin-0">
                                                    <li>
                                                        <img src="assets/images/xs/avatar5.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="hidden-md-down">
                                                <div class="progress">
                                                    <div class="progress-bar l-green" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-success">زیاد</span></td>
                                            <td>21 مهر 1398</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded avatar" src="assets/images/xs/avatar10.jpg" alt="">
                                            </td>
                                            <td>
                                                <a class="single-user-name" href="#">رضا حسینی</a><br>
                                                <small>توسعه دهنده سوییفت</small>
                                            </td>
                                            <td>
                                                <strong>بازی ios</strong><br>
                                                <small>قیمت : 890 هزار تومان</small>

                                            </td>
                                            <td class="hidden-md-down">
                                                <ul class="list-unstyled team-info margin-0">
                                                    <li>
                                                        <img src="assets/images/xs/avatar7.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar8.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar9.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="hidden-md-down">
                                                <div class="progress">
                                                    <div class="progress-bar l-blue" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-info"> متوسط</span></td>
                                            <td>26 مهر 1398</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded avatar" src="assets/images/xs/avatar4.jpg" alt="">
                                            </td>
                                            <td>
                                                <a class="single-user-name" href="#">حسین حسینی</a><br>
                                                <small>متخصص UI / UX</small>
                                            </td>
                                            <td>
                                                <strong>بازاریابی اینترنتی</strong><br>
                                                <small>قیمت  : 600 هزار تومان </small>
                                            </td>
                                            <td class="hidden-md-down">
                                                <ul class="list-unstyled team-info margin-0">
                                                    <li>
                                                        <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="hidden-md-down">
                                                <div class="progress">
                                                    <div class="progress-bar l-amber" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%;"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-warning">در انتظار</span></td>
                                            <td>12 مهر 1398</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded avatar" src="assets/images/xs/avatar5.jpg" alt="">
                                            </td>
                                            <td>
                                                <a class="single-user-name" href="#">طاهره صفری</a><br>
                                                <small>توسعه دهنده آنگولار</small>
                                            </td>
                                            <td>
                                                <strong>مدیریت بیمارستان</strong><br>
                                                <small>میزان حقوق : ساعتی 30 هزار تومان</small>
                                            </td>
                                            <td class="hidden-md-down">
                                                <ul class="list-unstyled team-info  margin-0">
                                                    <li>
                                                        <img src="assets/images/xs/avatar8.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar3.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar4.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar6.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar1.jpg" alt="آواتار">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/xs/avatar2.jpg" alt="آواتار">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="hidden-md-down">
                                                <div class="progress">
                                                    <div class="progress-bar l-coral" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                                                </div>
                                            </td>
                                            <td><span class="badge badge-primary">کم</span></td>
                                            <td> 27 مهر 1398 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card weather2">
                        <div class="city-selected body l-salmon">
                            <div class="row">
                                <div class="info col-7">
                                    <div class="city"><span> شهر: </span> تهران </div>
                                    <div class="night">روز - 12:07 ب.ظ </div>
                                    <div class="temp"><h2>34°</h2></div>
                                </div>
                                <div class="icon col-5">
                                    <img src="assets/images/weather/summer.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped m-b-0">
                            <tbody>
                                <tr>
                                    <td> باد </td>
                                    <td class="font-medium">ESE 17 mph</td>
                                </tr>
                                <tr>
                                    <td> رطوبت </td>
                                    <td class="font-medium">72%</td>
                                </tr>
                                <tr>
                                    <td> فشار </td>
                                    <td class="font-medium">25.56 in</td>
                                </tr>
                                <tr>
                                    <td>پوشش ابر</td>
                                    <td class="font-medium">80%</td>
                                </tr>
                                <tr>
                                    <td> حد پرواز</td>
                                    <td class="font-medium">25280 ft</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item text-center active">
                                    <div class="col-12">
                                        <ul class="row days-list list-unstyled">
                                            <li class="day col-4">
                                                <p>شنبه</p>
                                                <img src="assets/images/weather/rain.svg" alt="">
                                            </li>
                                            <li class="day col-4">
                                                <p>یک شنبه</p>
                                                <img src="assets/images/weather/cloudy.svg" alt="">
                                            </li>
                                            <li class="day col-4">
                                                <p>دو شنبه</p>
                                                <img src="assets/images/weather/wind.svg" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="carousel-item text-center">
                                    <div class="col-12">
                                        <ul class="row days-list list-unstyled">
                                            <li class="day col-4">
                                                <p>سه شنبه</p>
                                                <img src="assets/images/weather/sky.svg" alt="">
                                            </li>
                                            <li class="day col-4">
                                                <p>چهار شنبه</p>
                                                <img src="assets/images/weather/cloudy.svg" alt="">
                                            </li>
                                            <li class="day col-4">
                                                <p>پنج شنبه</p>
                                                <img src="assets/images/weather/summer.svg" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <ul class="row profile_state list-unstyled">
                                    <li class="col-lg-3 col-md-3 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-eye col-amber"></i>
                                            <h4>2,365</h4>
                                            <span>نمایش پست</span>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-thumb-up col-blue"></i>
                                            <h4>365</h4>
                                            <span>لایک</span>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-comment-text col-red"></i>
                                            <h4>65</h4>
                                            <span>نظرات</span>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-6">
                                        <div class="body">
                                            <i class="zmdi zmdi-account text-success"></i>
                                            <h4>2,055</h4>
                                            <span>بازدید از پروفایل</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card activities">
                                <div class="header">
                                    <h2><strong> فعالیتها </strong> <small> فعالیت های اخیر کاربر </small></h2>
                                </div>
                                <div class="body">
                                    <ul class="list-unstyled activity">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="zmdi zmdi-cake bg-blue"></i>
                                                <div class="info">
                                                    <h4> تولد مدیر </h4>
                                                    <small>21 آبان خواهد بود </small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="zmdi zmdi-file-text bg-red"></i>
                                                <div class="info">
                                                    <h4> تغییر کد </h4>
                                                    <small>22 آبان خواهد بود </small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="zmdi zmdi-account-box-phone bg-green"></i>
                                                <div class="info">
                                                    <h4> مخاطب جدید اضافه کنید </h4>
                                                    <small>23 آذر خواهد بود </small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="zmdi zmdi-email bg-amber"></i>
                                                <div class="info">
                                                    <h4>ایمیل جدید</h4>
                                                    <small>28 دی خواهد بود </small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="zmdi zmdi-account-box-phone bg-green"></i>
                                                <div class="info">
                                                    <h4> مخاطب جدید اضافه کنید </h4>
                                                    <small>23 آذر خواهد بود </small>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        بررسی
                                        <strong> فروش </strong>
                                    </h2>
                                    <ul class="header-dropdown">
                                        <li class="dropdown">
                                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                            <ul class="dropdown-menu dropdown-menu-right slideUp float-right">
                                                <li><a href="javascript:void(0);">ویرایش</a></li>
                                                <li><a href="javascript:void(0);">حذف</a></li>
                                                <li><a href="javascript:void(0);">گزارش</a></li>
                                            </ul>
                                        </li>
                                        <li class="remove">
                                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="body">
                                    <div id="m_area_chart2" style="height: 290px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </section>
    <!-- Jquery Core Js -->
   <partial name="_FooterRefrences" />
</body>

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jul 2019 10:22:48 GMT -->
</html>